@use "sass:map";
@use "../_breakpoints" as bp;

// Mapas de valores de display
$display-values: (
  block: block,
  inline: inline,
  inline-block: inline-block,
  flex: flex,
  grid: grid,
  none: none
);

// Classes padrão
@each $key, $value in $display-values {
  .rk-d-#{$key} {
    display: #{$value} !important;
  }
}

// Ordem dos breakpoints invertida para garantir que o menor (xs) venha por último no CSS
$rk-breakpoints-order: (xxl, xl, lg, md, sm, xs);

// Classes responsivas
@each $size in $rk-breakpoints-order {
  $range: map.get(bp.$rk-breakpoints, $size);
  $max: map.get($range, max);

  @media (max-width: $max) {
    @each $key, $value in $display-values {
      .rk-d-#{$key}-#{$size} {
        display: #{$value} !important;
      }
    }
  }
}
